<!DOCTYPE html>
<html>
    <head>
        <title>sophie's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">sophie's blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>i am so tired oml my head and eyes hurt i really hope this works</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>hi can i get a blue misty what's it called?</p>
        </article>
    </body>
</html>